* {
    margin: 0px;
}

body {
    background-image: url('https://images.pexels.com/photos/4147343/pexels-photo-4147343.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
}

/* Button Styling */
button {
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(194, 71, 71, 0.12), 0 1px 2px rgba(46, 72, 189, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}
button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}
#complimentButton {
    background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)
}
#complimentButton:hover { 
    background-position: right center; 
}
#fortuneButton {
    background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%)
}
#fortuneButton:hover { 
    background-position: right center; 
}
#inspiro-btn {
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%)
}
#inspiro-btn:hover { 
    background-position: right center; 
}
#submit {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)
}
#submit :hover { 
    background-position: right center; 
}

