* {
    margin: 0px;
}

body {
    background-image: url('https://images.pexels.com/photos/4147343/pexels-photo-4147343.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
}

